<section class="hp-calendar">
  <div class="container">
    <h1 class="h1 mb-6">Kalendář událostí</h1>
    <div class="row mb-sm-10 mb-6 g-lg-10 gx-5 gy-10 justify-content-center">
      <div class="col-md-6 col-xl-4">
        <article class="hp-calendar__item">
          <div class="hp-calendar__info">
            <div class="hp-calendar__date">30. 9. 2022, 17:00</div>
            <h3 class="h3 mb-2">Mistrovství republiky v karate</h3>
            <p>
              V měsíci srpnu vycestovali reprezentanti České federace Okinawa
              Karate a Kobudo do Tokia, hlavního města Japonska, kde
              reprezentovali Českou republiku.
            </p>
            <a href="#" class="hp-calendar__link"> Více informací </a>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <article class="hp-calendar__item">
          <div class="hp-calendar__info">
            <div class="hp-calendar__date">30. 9. 2022, 17:00</div>
            <h3 class="h3 mb-2">Mistrovství republiky v karate</h3>
            <p>
              V měsíci srpnu vycestovali reprezentanti České federace Okinawa
              Karate a Kobudo do Tokia, hlavního města Japonska, kde
              reprezentovali Českou republiku.
            </p>
            <a href="#" class="hp-calendar__link"> Více informací </a>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <article class="hp-calendar__item">
          <div class="hp-calendar__info">
            <div class="hp-calendar__date">30. 9. 2022, 17:00</div>
            <h3 class="h3 mb-2">Mistrovství republiky v karate</h3>
            <p>
              V měsíci srpnu vycestovali reprezentanti České federace Okinawa
              Karate a Kobudo do Tokia, hlavního města Japonska, kde
              reprezentovali Českou republiku.
            </p>
            <a href="#" class="hp-calendar__link"> Více informací </a>
          </div>
        </article>
      </div>
    </div>
    <a class="link link--border ml-auto" href="#"> Další události </a>
  </div>
</section>
