<section class="detail-action pt-section bg-content pb-md-10 pb-4">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="c-article-section__img">
          <img src="images/content/top.jpeg" loading="lazy" alt="" />
        </div>
        <div class="wrapper">
          <a href="#" class="h5 mb-2 d-block">Název kategorie s proklikem</a>
          <h1 class="h1 mb-4">Mistrovství republiky v karate</h1>

          <div class="detail-action__box">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-action__date">4. 10. 2023 – 6. 10. 2023</div>
              </div>
              <div class="col-md-6">
                <div class="detail-action__place">O2 arena, Praha</div>
              </div>
            </div>
          </div>
          <div class="o-content mb-10">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer
              imperdiet lectus quis justo. Etiam ligula pede, sagittis quis,
              interdum ultricies, scelerisque eu. Quisque tincidunt scelerisque
              libero. Nullam eget nisl. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
              ex ea commodi consequatur?
            </p>
            <p>
              Nulla pulvinar eleifend sem. Pellentesque sapien. Etiam egestas
              wisi a erat. Curabitur ligula sapien, pulvinar a vestibulum quis,
              facilisis vel sapien. Phasellus rhoncus. Morbi leo mi, nonummy
              eget tristique non, rhoncus non leo. In laoreet, magna id viverra
              tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed
              libero. Nulla quis diam. Class aptent taciti sociosqu ad litora
              torquent per conubia nostra, per inceptos hymenaeos. Pellentesque
              pretium lectus id turpis.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 d-xl-block d-none">
        {% include "@components/aside/aside2.twig" %}
      </div>
    </div>
  </div>
</section>
