<aside class="aside aside-pt">
  <article class="post">
    <a href="#" class="post__link">
      <div class="post__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="" />
      </div>
      <div class="post__info">
        <h3 class="h3 mb-4">
          Karatisté z Brodu reprezentovali Česko na světovém šampionátu v Tokiu
        </h3>
        <p>
          V měsíci srpnu vycestovali reprezentanti České federace Okinawa Karate
          a Kobudo do Tokia, hlavního města Japonska, kde reprezentovali Českou
          republiku.
        </p>
        <span class="post__date"> 30. 9. 2022 </span>
      </div>
    </a>
  </article>
  <article class="post">
    <a href="#" class="post__link">
      <div class="post__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="" />
      </div>
      <div class="post__info">
        <h3 class="h3 mb-4">
          Karatisté z Brodu reprezentovali Česko na světovém šampionátu v Tokiu
        </h3>
        <p>
          V měsíci srpnu vycestovali reprezentanti České federace Okinawa Karate
          a Kobudo do Tokia, hlavního města Japonska, kde reprezentovali Českou
          republiku.
        </p>
        <span class="post__date"> 30. 9. 2022 </span>
      </div>
    </a>
  </article>
</aside>
