<section class="hp-federation">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-4">
        <div class="hp-federation__item">
          <div class="hp-federation__logo">
            <img src="images/content/federation.png" loading="lazy" alt="" />
          </div>
          <div class="hp-federation__info">
            <h4 class="h3 mb-2">Světová federace Okinawa Karate kobudo</h4>
            <a href="#">www.oshukai.com</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="hp-federation__item">
          <div class="hp-federation__logo">
            <img src="images/content/federation.png" loading="lazy" alt="" />
          </div>
          <div class="hp-federation__info">
            <h4 class="h3 mb-2">Světová federace Okinawa Karate kobudo</h4>
            <a href="#">www.oshukai.com</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="hp-federation__item">
          <div class="hp-federation__logo">
            <img src="images/content/federation.png" loading="lazy" alt="" />
          </div>
          <div class="hp-federation__info">
            <h4 class="h3 mb-2">Světová federace Okinawa Karate kobudo</h4>
            <a href="#">www.oshukai.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
