.bg-content {
  position: relative;
  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(
    //     180deg,
    //     rgba(#f8f9fa, 0.2),
    //     rgba(#f8f9fa, 0.2) 120px,
    //     rgba(#f8f9fa, 1) 120px,
    //     rgba(#f8f9fa, 1) 50%,
    //     rgba(#f8f9fa, 0.7) 100%
    //   ),
    //   repeating-linear-gradient(
    //     135deg,
    //     rgba(0, 0, 0, 0.1),
    //     rgba(0, 0, 0, 0.1) 15px,
    //     rgba(0, 0, 0, 0) 15px,
    //     rgba(0, 0, 0, 0) 30px
    //   );
    background: #f8f9fc;
  }
}
.bg-hp {
  position: relative;
  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f8f9fc;
  }
}
.top-bg {
  position: relative;
  z-index: 5;
  background: #f8f9fc;
}
