<section class="c-posts-section">
  <div class="container">
    <div class="row mb-sm-10 mb-6 g-lg-10 gx-5 gy-10 justify-content-center">
      <div class="col-md-6 col-xl-4">
        <article class="post">
          <a href="#" class="post__link">
            <div class="post__img">
              <img src="images/content/top.jpeg" loading="lazy" alt="" />
            </div>
            <div class="post__info">
              <h3 class="h3 mb-4">
                Karatisté z Brodu reprezentovali Česko na světovém šampionátu v
                Tokiu
              </h3>
              <p>
                V měsíci srpnu vycestovali reprezentanti České federace Okinawa
                Karate a Kobudo do Tokia, hlavního města Japonska, kde
                reprezentovali Českou republiku.
              </p>
              <span class="post__date"> 30. 9. 2022 </span>
            </div>
          </a>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <article class="post">
          <a href="#" class="post__link">
            <div class="post__img">
              <img src="images/content/top.jpeg" loading="lazy" alt="" />
            </div>
            <div class="post__info">
              <h3 class="h3 mb-4">Karatisté se v Polsku neztratili</h3>
              <p>
                Světový šampio-nát Karate a Kobudo proběhl v hlavním městě
                Polska Varšavě za účasti výprav ze všech světových kontinentů.
                Šampionátu se zúčastnila také dvanáctičlenná česká výprava, v
                níž měli zastoupení závodníci z vysočinského klubu TJ Jiskra
                Havlíčkův Brod.
              </p>
              <span class="post__date"> 30. 9. 2022 </span>
            </div>
          </a>
        </article>
      </div>
      <div class="col-md-6 col-xl-4">
        <article class="post">
          <a href="#" class="post__link">
            <div class="post__img">
              <img src="images/content/top.jpeg" loading="lazy" alt="" />
            </div>
            <div class="post__info">
              <h3 class="h3 mb-4">
                Mezinárodní seminář Okinawa Shorin-ryu Karate a Okinawa Kobudo
              </h3>
              <p>
                Ve dnech 2.- 3. června 2012 ve sportovní hale TJ Jiskra
                Havlíčkův Brod proběhl mezinárodní seminář Okinawa Shorin-ryu
                Karate a Okinawa Kobudo. Výuku na celém semináři vedl Okinawský
                mistr hanchi Kenyu Chinen.
              </p>
              <span class="post__date"> 30. 9. 2022 </span>
            </div>
          </a>
        </article>
      </div>
    </div>
    <a class="link link--border ml-auto" href="#"> Další články </a>
  </div>
</section>
