<section class="fotoalbum-section">
  <h4 class="h2 mb-5">Fotogalerie</h4>

  <div class="row js-gallery g-3 fotoalbum-section__fotogalerie">
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="1"
          data-gallery-id="15"
          href="#"
        >
          <img
            src="https://4.bp.blogspot.com/-udI8g-T4oLU/Wm7_7gFgX5I/AAAAAAAAN-4/eDjcDOBeWdkxjBop_YzyJeuAIplOsm8ogCLcBGAs/s640/81651.jpg"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="2"
          data-gallery-id="15"
          href="#"
        >
          <img
            src="https://3.bp.blogspot.com/-johAto_36nM/Wm7_z6LsHyI/AAAAAAAAN-c/NI_rGHNhpWM-VnnEzAWHYsSgVh0dwWzsACLcBGAs/s640/4675134-wallpaper-minimalist.jpg"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="3"
          data-gallery-id="15"
          href="#"
        >
          <img
            src="https://1.bp.blogspot.com/--rMwWpO1vJA/Wm7_ywQ2x9I/AAAAAAAAN-Q/o7LaowZvlwo-ADwhiuz1V96OwoIQYKHZwCLcBGAs/s640/4094001-wallpaper-minimalist.jpg"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="4"
          data-gallery-id="15"
          href="#"
        >
          <img
            src="https://1.bp.blogspot.com/-FDco02CRp_M/Wm7_y1G4MtI/AAAAAAAAN-U/zIZ8UH6RzKUe_hSxW3qWF7OuPOnv6wZ2ACLcBGAs/s640/33.jpg"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="5"
          data-gallery-id="15"
          href="#"
        >
          <img
            src="https://2.bp.blogspot.com/-rP2kIPiCn3Y/Wm7_1JLC32I/AAAAAAAAN-g/2i2BJuDjHGoFhWQ89UaMpm3ZSQcyry2UQCLcBGAs/s640/d6d0bca64f31251abe01f18b7b85c71d.png"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="6"
          data-gallery-id="15"
          href="#"
        >
          <img
            src="https://2.bp.blogspot.com/-s3RiNkWgmgM/Wm7_8bcoCLI/AAAAAAAAN-8/WgX--atQIywQ9LGvt2NGl7p00CLsmGNLACLcBGAs/s640/minimalism_sky_clouds_sun_mountains_lake_landscape_95458_3840x2400.jpg"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="7"
          data-gallery-id="15"
          href="#"
        >
          <img
            src="https://2.bp.blogspot.com/-t8KSarutr64/Wm7_2aHLzeI/AAAAAAAAN-o/y_4w-J1XcZkFLE6ZAWsUWYRjjMpVxc1AgCLcBGAs/s1600/giraffe-minimalist-wallpaper-orange.png"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto fotoalbum-section__fotogalerie-link"
          data-gallery="1"
          data-gallery-id="15"
          href="#"
        >
          <img
            src="https://3.bp.blogspot.com/-gVZ6tZgJwXA/Wm7_3I8ffPI/AAAAAAAAN-s/QHSIpsrJpCkWkxVszcT2I5ZhDWFp_YP-gCLcBGAs/s640/im-500239713.jpg"
            loading="lazy"
            alt=""
          />
          <span class="fotoalbum-section__fotogalerie-hover">+2</span>
        </a>
      </figure>
    </div>
  </div>
</section>
