<section class="fotoalbum-section">
  <h4 class="h2 mb-5">Fotogalerie</h4>
  <div class="row js-gallery g-4 fotoalbum-section__fotogalerie">
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="1"
          data-gallery-id="1"
          href="#"
        >
          <img
            src="https://via.placeholder.com/182x120"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="1"
          data-gallery-id="1"
          href="#"
        >
          <img
            src="https://via.placeholder.com/182x120"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="1"
          data-gallery-id="1"
          href="#"
        >
          <img
            src="https://via.placeholder.com/182x120"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="1"
          data-gallery-id="1"
          href="#"
        >
          <img
            src="https://via.placeholder.com/182x120"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="1"
          data-gallery-id="1"
          href="#"
        >
          <img
            src="https://via.placeholder.com/182x120"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="1"
          data-gallery-id="1"
          href="#"
        >
          <img
            src="https://via.placeholder.com/182x120"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto"
          data-gallery="1"
          data-gallery-id="1"
          href="#"
        >
          <img
            src="https://via.placeholder.com/182x120"
            loading="lazy"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure>
        <a
          class="fotoalbum-section__fotogalerie-foto fotoalbum-section__fotogalerie-link"
          data-gallery="1"
          data-gallery-id="1"
          href="#"
        >
          <img
            src="https://via.placeholder.com/182x120"
            loading="lazy"
            alt=""
          />
          <span class="fotoalbum-section__fotogalerie-hover">+21</span>
        </a>
      </figure>
    </div>
  </div>
</section>
