<section class="c-calendar-section pt-section bg-content pb-md-10 pb-4">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="wrapper">
          <div class="o-content pb-5">
            <h1>Kalendář akcí</h1>
            <div class="header-section__row">
              <div class="row g-6">
                <div class="col-lg-3 col-sm-6 col-12">
                  <label class="o-select header-section__label">
                    <select class="js-select">
                      <option>Měsíc</option>
                      <option>leden</option>
                      <option>únor</option>
                      <option>březen</option>
                      <option>duben</option>
                      <option>květen</option>
                      <option>červen</option>
                      <option>červenec</option>
                      <option>srpen</option>
                      <option>září</option>
                      <option>říjen</option>
                      <option>listopad</option>
                      <option>prosinec</option>
                    </select>
                  </label>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <label class="o-select header-section__label">
                    <select class="js-select">
                      <option>Kategorie</option>
                      <option>Aktuální zprávy</option>
                      <option>Rozhovory</option>
                      <option>Reportáže</option>
                      <option>Mládež</option>
                      <option>Tiskové zprávy</option>
                      <option>Soutěže a akce pro fanoušky</option>
                      <option>Preview k zápasu</option>
                      <option>Ohlasy po utkání</option>
                      <option>Sledge – článek</option>
                      <option>Sledge – reportáž</option>
                      <option>Historie</option>
                      <option>Fan Club</option>
                    </select>
                  </label>
                </div>
                <div class="col-12 col-lg-6">
                  <form action="" class="header-section__form">
                    <div class="row gy-6">
                      <div class="col-sm-8 col-12">
                        <label class="header-section__input">
                          <input
                            type="text"
                            placeholder="Hledat v článcích..."
                          />
                        </label>
                      </div>
                      <div class="col-sm-4 col-12">
                        <button class="link">Hledat</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <h2>Říjen 2022</h2>
            <table>
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Akce</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4. 10. – 6. 10.</td>
                  <td>
                    <a href="#">Mistrovství republiky v karate</a>
                  </td>
                </tr>
                <tr>
                  <td>28. 10</td>
                  <td>
                    <a href="#">Mistrovství republiky v karate</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <h2>Listopad 2022</h2>
            <table>
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Akce</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4. 10. – 6. 10.</td>
                  <td>
                    <a href="#">Mistrovství republiky v karate</a>
                  </td>
                </tr>
                <tr>
                  <td>28. 10</td>
                  <td>
                    <a href="#">Mistrovství republiky v karate</a>
                  </td>
                </tr>
                <tr>
                  <td>4. 10. – 6. 10.</td>
                  <td>
                    <a href="#">Mistrovství republiky v karate</a>
                  </td>
                </tr>
                <tr>
                  <td>28. 10</td>
                  <td>
                    <a href="#">Mistrovství republiky v karate</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <h2>Prosinec 2022</h2>
            <table>
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Akce</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4. 10. – 6. 10.</td>
                  <td>
                    <a href="#">Mistrovství republiky v karate</a>
                  </td>
                </tr>
                <tr>
                  <td>28. 10</td>
                  <td>
                    <a href="#">Mistrovství republiky v karate</a>
                  </td>
                </tr>
              </tbody>
            </table>

            <a href="#" class="link m-auto mt-10">Načíst další měsíce</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 d-xl-block d-none">
        {% include "@components/aside/aside.twig" %}
      </div>
    </div>
  </div>
</section>
