<section class="c-calendar-section pt-section bg-content pb-md-10 pb-4">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="wrapper">
          <div class="o-content mb-10">
            <h1>Archiv článků</h1>
            <div class="header-section__row">
              <div class="row g-6">
                <div class="col-lg-3 col-sm-8 col-12">
                  <label class="o-select header-section__label">
                    <select class="js-select">
                      <option>Kategorie</option>
                      <option>Aktuální zprávy</option>
                      <option>Rozhovory</option>
                      <option>Reportáže</option>
                      <option>Mládež</option>
                      <option>Tiskové zprávy</option>
                      <option>Soutěže a akce pro fanoušky</option>
                      <option>Preview k zápasu</option>
                      <option>Ohlasy po utkání</option>
                      <option>Sledge – článek</option>
                      <option>Sledge – reportáž</option>
                      <option>Historie</option>
                      <option>Fan Club</option>
                    </select>
                  </label>
                </div>
                <div class="col-12 col-lg-6">
                  <form action="" class="header-section__form">
                    <div class="row gy-6">
                      <div class="col-sm-8 col-12">
                        <label class="header-section__input">
                          <input
                            type="text"
                            placeholder="Hledat v článcích..."
                          />
                        </label>
                      </div>
                      <div class="col-sm-4 col-12">
                        <button class="link">Hledat</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-sm-10 mb-6 g-lg-10 gx-5 gy-10">
            <div class="col-md-6">
              <article class="post">
                <a href="#" class="post__link">
                  <div class="post__img">
                    <img src="images/content/top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="post__info">
                    <h3 class="h3 mb-4">
                      Karatisté z Brodu reprezentovali Česko na světovém
                      šampionátu v Tokiu
                    </h3>
                    <span class="post__date"> 30. 9. 2022 </span>
                  </div>
                </a>
              </article>
            </div>
            <div class="col-md-6">
              <article class="post">
                <a href="#" class="post__link">
                  <div class="post__img">
                    <img src="images/content/top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="post__info">
                    <h3 class="h3 mb-4">Karatisté se v Polsku neztratili</h3>
                    <span class="post__date"> 30. 9. 2022 </span>
                  </div>
                </a>
              </article>
            </div>
            <div class="col-md-6">
              <article class="post">
                <a href="#" class="post__link">
                  <div class="post__img">
                    <img src="images/content/top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="post__info">
                    <h3 class="h3 mb-4">
                      Mezinárodní seminář Okinawa Shorin-ryu Karate a Okinawa
                      Kobudo
                    </h3>
                    <span class="post__date"> 30. 9. 2022 </span>
                  </div>
                </a>
              </article>
            </div>
            <div class="col-md-6">
              <article class="post">
                <a href="#" class="post__link">
                  <div class="post__img">
                    <img src="images/content/top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="post__info">
                    <h3 class="h3 mb-4">
                      Karatisté z Brodu reprezentovali Česko na světovém
                      šampionátu v Tokiu
                    </h3>
                    <span class="post__date"> 30. 9. 2022 </span>
                  </div>
                </a>
              </article>
            </div>
            <div class="col-md-6">
              <article class="post">
                <a href="#" class="post__link">
                  <div class="post__img">
                    <img src="images/content/top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="post__info">
                    <h3 class="h3 mb-4">Karatisté se v Polsku neztratili</h3>
                    <span class="post__date"> 30. 9. 2022 </span>
                  </div>
                </a>
              </article>
            </div>
            <div class="col-md-6">
              <article class="post">
                <a href="#" class="post__link">
                  <div class="post__img">
                    <img src="images/content/top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="post__info">
                    <h3 class="h3 mb-4">
                      Mezinárodní seminář Okinawa Shorin-ryu Karate a Okinawa
                      Kobudo
                    </h3>
                    <span class="post__date"> 30. 9. 2022 </span>
                  </div>
                </a>
              </article>
            </div>
            <div class="col-md-6">
              <article class="post">
                <a href="#" class="post__link">
                  <div class="post__img">
                    <img src="images/content/top.jpeg" loading="lazy" alt="" />
                  </div>
                  <div class="post__info">
                    <h3 class="h3 mb-4">
                      Mezinárodní seminář Okinawa Shorin-ryu Karate a Okinawa
                      Kobudo
                    </h3>
                    <span class="post__date"> 30. 9. 2022 </span>
                  </div>
                </a>
              </article>
            </div>
          </div>
          <nav aria-label="Další stránky">
            <ul
              class="pagination d-flex flex-wrap pagination-flat pagination-success"
            >
              <li class="page-item active">
                <a class="page-link" href="#" data-abc="true">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true"> »</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xl-4 d-xl-block d-none">
        {% include "@components/aside/aside-static.twig" %}
      </div>
    </div>
  </div>
</section>
