<header class="header w-100">
  <nav class="navbar navbar-expand-lg w-100">
    <div class="header__top">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="header__title">
            Česká federace Okinawa Karate a Kobudo
          </div>
          <div class="header__toplogo">
            <img src="images/content/header.gif" loading="lazy" alt="" />
          </div>
          {% include "@components/social/social.twig" %}
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-inner">
          <a class="header__logo" href="">
            <img src="images/content/logo.jpeg" loading="lazy" alt="logo" />
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#"> KARATE </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> KOBUDO </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> SENSEI </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> DOJO </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> ORGANIZACE </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> kalendář </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> KONTAKTY </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> KE STAŽENÍ </a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="vstupenky"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  ODKAZY
                </a>
                <ul class="dropdown-menu" aria-labelledby="vstupenky">
                  <li><a class="dropdown-item" href="#">pozice 1</a></li>
                  <li><a class="dropdown-item" href="#">pozice 2</a></li>
                  <li><a class="dropdown-item" href="#">pozice 3</a></li>
                </ul>
              </li>
            </ul>
            <!-- <div class="header__form">
              <div class="header__search">
                <input type="text" placeholder="Hledáte něco?" />
                <button>
                  <img
                    src="images/ico/search.svg"
                    loading="lazy"
                    alt="search"
                  />
                </button>
              </div>
            </div> -->

            {% include "@components/social/social.twig" %}
          </div>
          <button class="c-header__opener js-header__opener" type="button">
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
