.c-partners-slider-section {
  padding-top: 50px;
  padding-bottom: 32px;
  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }
  .slick-track {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .header-section {
    color: var(--color-dark);
  }
}
