<section class="c-partners-slider-section">
  <div class="container">
    <div class="c-partners-slider-section__inner">
      <a
        href="#"
        target="_blank"
        class="partners-slider__item pe-3 ps-3 d-flex align-items-center"
      >
        <img
          class="d-block m-auto"
          src="https://via.placeholder.com/184x120"
          loading="lazy"
          alt=""
        />
      </a>
      <a
        href="#"
        target="_blank"
        class="partners-slider__item pe-3 ps-3 d-flex align-items-center"
      >
        <img
          class="d-block m-auto"
          src="https://via.placeholder.com/184x120"
          loading="lazy"
          alt=""
        />
      </a>
      <a
        href="#"
        target="_blank"
        class="partners-slider__item pe-3 ps-3 d-flex align-items-center"
      >
        <img
          class="d-block m-auto"
          src="https://via.placeholder.com/184x120"
          loading="lazy"
          alt=""
        />
      </a>
      <a
        href="#"
        target="_blank"
        class="partners-slider__item pe-3 ps-3 d-flex align-items-center"
      >
        <img
          class="d-block m-auto"
          src="https://via.placeholder.com/184x120"
          loading="lazy"
          alt=""
        />
      </a>
      <a
        href="#"
        target="_blank"
        class="partners-slider__item pe-3 ps-3 d-flex align-items-center"
      >
        <img
          class="d-block m-auto"
          src="https://via.placeholder.com/184x120"
          loading="lazy"
          alt=""
        />
      </a>
      <a
        href="#"
        target="_blank"
        class="partners-slider__item pe-3 ps-3 d-flex align-items-center"
      >
        <img
          class="d-block m-auto"
          src="https://via.placeholder.com/184x120"
          loading="lazy"
          alt=""
        />
      </a>
      <a
        href="#"
        target="_blank"
        class="partners-slider__item pe-3 ps-3 d-flex align-items-center"
      >
        <img
          class="d-block m-auto"
          src="https://via.placeholder.com/184x120"
          loading="lazy"
          alt=""
        />
      </a>
      <a
        href="#"
        target="_blank"
        class="partners-slider__item pe-3 ps-3 d-flex align-items-center"
      >
        <img
          class="d-block m-auto"
          src="https://via.placeholder.com/184x120"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
  </div>
</section>
