{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %}
<div class="bg-hp">
  {% include "@components/topstory-section/topstory-section.twig" %} {% include
  "@components/posts-section/posts-section.twig" %} {% include
  "@components/hp-calendar/hp-calendar.twig" %} {% include
  "@components/hp-federation/hp-federation.twig" %}
</div>
{% include "@components/partners-slider-section/partners-slider-section.twig" %}
{% endblock %}
