{% extends "@components/base/base.twig" %} {% set title = "08.0_detail-action-2"
%} {% block main %}

<section class="c-article-section pt-section bg-content pb-md-10 pb-4">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="c-article-section__img">
          <img src="images/content/top.jpeg" loading="lazy" alt="" />
        </div>

        <div class="wrapper">
          <div class="detail-action__box">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-action__date">
                  27. 1. od 00:00 – 27. 1. do 18:00
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-action__place">Havlíčkův Brod</div>
              </div>
            </div>
          </div>
          <a href="/kalendar?id_category=3" class="h5 mb-2 d-block">Semináře</a>
          <h1 class="h1 mb-4">Národní seminář Karate</h1>

          <div class="perex">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi ex
            assumenda non molestiae rem, totam minima laborum, at nesciunt
            dolore in hic iste modi dolorem nihil ipsam, id asperiores a. Soluta
            dolorem illo hic ratione laudantium voluptas nesciunt, cumque enim
            aliquid animi quam voluptatem repellat quibusdam ipsam vitae. Itaque
            dolorum quibusdam cupiditate quas. Tempora a asperiores possimus.
            Voluptatum, deleniti iure. Expedita hic ab eius voluptatum deserunt
          </div>
        </div>
      </div>
      <div class="col-xl-4 d-xl-block d-none">
        <aside class="aside aside-pt">
          <article class="post">
            <a
              href="/clanek/33-zkousky-na-zakovske-stupne-karate-a-kobudo-18-12-2023"
              class="post__link"
            >
              <div class="post__img">
                <img
                  src="/image?file=photo/article/article_33.jpg&w=872&h=566&exact=1"
                  loading="lazy"
                  alt=""
                />
              </div>
              <div class="post__info">
                <h3 class="h3 mb-4">
                  Zkoušky na žákovské stupně Karate a Kobudo 18.12.2023
                </h3>
                <p>Zkoušky na žákovské stupně Karate a Kobudo 18.12.2023</p>
                <span class="post__date"> 18. 12. 2023 </span>
              </div>
            </a>
          </article>
          <article class="post">
            <a
              href="/clanek/34-ukonceni-trenerskeho-kurzu-lic-c-okinawa-karate-a-kobudo-2023"
              class="post__link"
            >
              <div class="post__img">
                <img
                  src="/image?file=photo/article/article_34.jpg&w=872&h=566&exact=1"
                  loading="lazy"
                  alt=""
                />
              </div>
              <div class="post__info">
                <h3 class="h3 mb-4">
                  Ukončení trenérského kurzu lic. C Okinawa Karate a Kobudo 2023
                </h3>
                <p>
                  Ukončení trenérského kurzu lic. C Okinawa Karate a Kobudo 2023
                </p>
                <span class="post__date"> 17. 12. 2023 </span>
              </div>
            </a>
          </article>
          <article class="post">
            <a
              href="/clanek/35-turnaje-cfokk-2023-shingitai-open-amp-karate-kodomo-no-taikai"
              class="post__link"
            >
              <div class="post__img">
                <img
                  src="/image?file=photo/article/article_35.jpg&w=872&h=566&exact=1"
                  loading="lazy"
                  alt=""
                />
              </div>
              <div class="post__info">
                <h3 class="h3 mb-4">
                  Turnaje ČFOKK 2023: Shingitai Open &amp; Karate Kodomo no
                  taikai
                </h3>
                <p>
                  Turnaje ČFOKK 2023: Shingitai Open &amp;amp; Karate Kodomo no
                  taikai
                </p>
                <span class="post__date"> 11. 11. 2023 </span>
              </div>
            </a>
          </article>
        </aside>
      </div>
    </div>
  </div>
</section>

{% include "@components/partners-slider-section/partners-slider-section.twig" %}
{% endblock %}
