<section class="c-topstory-section top-bg">
  <div class="container">
    <div class="c-topstory-section__row">
      <div class="c-topstory-section__box">
        <p>
          Welcome to the official website of the Polish
          <a href="#"> Shorin-Ryu Karate</a>
          Kobudo Union leading by sensei Aleksander Staniszew - 9 dan.
        </p>
        <p>
          Traditional martial arts from <strong>Okinawa</strong>, that is Karate
          and Kobudo are represented by the Union. We are a part of the world
          organization
          <strong
            >World Oshu-Kai Okinawa Shorin-Ryu Karate Do Kobudo
            Federation</strong
          >
          with the master from Okinawa Kenyu Chinen at the head of it. Sensei
          Kenyu Chinen - 10 dan is the eminent expert as well as the authority
          on the traditional Karate and Kobudo.
        </p>
        <p>
          Our organization is the only in Poland which provides you with the
          practice of original Shorin-Ryu Karate as well as Kobudo at the
          highest level. This is because these particular martial arts are
          taught directly by the Okinawa masters.
        </p>
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
    </div>
  </div>
</section>
