.c-topstory-section {
  margin-bottom: 56px;

  @include media-breakpoint-down(xxl) {
    margin-bottom: 16px;
  }
  .container {
    @include media-breakpoint-down(xl) {
      padding: 0;
    }
  }
  &.top-bg {
    @include media-breakpoint-down(xl) {
      &::before {
        display: none;
      }
    }
  }
  &__wrapper {
    display: flex;
    padding: 0 20px;
    @include media-breakpoint-down(xl) {
      flex-wrap: wrap;
      padding-top: 24px;
      justify-content: center;
      align-items: center;
    }
  }
  &__headline {
    height: 100%;
    margin-top: 16px;
    max-width: 50px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__photo {
    width: 100%;
    height: auto;
    padding-bottom: 0;
    margin-top: auto;
    max-width: 340px;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      width: 100%;
      height: auto;
      margin-top: 0;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      margin: 0 auto -80px;

      object-position: top;
    }
  }
  &__row {
    padding: 0 10px;
    margin: 0;

    background: url("../images/content/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__box {
    margin-top: 16px;
    position: relative;
    padding: 26px 24px;
    // background-color: var(--color-light);
    height: fit-content;
    z-index: 1;
    height: auto;
    max-width: 500px;
    width: 100%;
    p {
      margin-bottom: 24px;
    }
    @include media-breakpoint-down(xxl) {
      position: relative;
      padding-top: 24px;
      top: 0;
    }
  }
  &__img {
    aspect-ratio: 1300/480;
    @include media-breakpoint-down(xxl) {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        height: 8px;
        width: 90%;
        margin: 0 auto;
        bottom: 0;
        background-color: var(--color-red);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.c-topstory__slider {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
  @include media-breakpoint-down(xxl) {
    max-width: 100%;
    flex: 100%;
  }
}
