<section class="c-topstory-section top-bg">
  <div class="container">
    <div class="c-topstory__slider">
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg " alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img
          src="https://3.bp.blogspot.com/-johAto_36nM/Wm7_z6LsHyI/AAAAAAAAN-c/NI_rGHNhpWM-VnnEzAWHYsSgVh0dwWzsACLcBGAs/s640/4675134-wallpaper-minimalist.jpg"
          loading="lazy"
          alt=""
        />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img
          src="https://4.bp.blogspot.com/-udI8g-T4oLU/Wm7_7gFgX5I/AAAAAAAAN-4/eDjcDOBeWdkxjBop_YzyJeuAIplOsm8ogCLcBGAs/s640/81651.jpg"
          loading="lazy"
          alt=""
        />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
    </div>
    <div class="c-topstory-section__row">
      <div class="c-topstory-section__headline">
        <img src="images/content/1-nadpis.png" loading="lazy" alt="" />
      </div>

      <div class="c-topstory-section__wrapper">
        <div class="c-topstory-section__photo">
          <img src="images/content/top-1.png" alt="" />
        </div>
        <div class="c-topstory-section__box">
          <p>
            Vítejte na oficiálních stránkách České federace Okinawa Karate a
            Kobudo pod vedením senseie Jana Kopeckého (6.dan Okinawa Shorin-ryu
            Karate a 5.dan Okinawa Kobudo), reprezentujícího u nás tradiční
            bojová umění z Okinawy: Karate a Kobudo.
          </p>
          <p>
            Patříme do světové organizace World Oshu-Kai Okinawa Shorin-Ryu
            Karate Do Kobudo Federation, v jejímž čele stojí okinawský velmistr
            Kenyu Chinen - 10 dan, který je vynikajícím světovým odborníkem a
            autoritou tradičního karate a kobudo.
          </p>
          <p>
            Jsme jediná organizace v České republice, kde můžete současně cvičit
            originální Shorin-Ryu Karate a Kobudo na nejvyšší úrovni, předávané
            přímo mistry z Okinawy.
          </p>
        </div>
        <div class="c-topstory-section__photo">
          <img src="images/content/top-2.png" alt="" />
        </div>
      </div>

      <div class="c-topstory-section__headline">
        <img src="images/content/2-nadpis.png" loading="lazy" alt="" />
      </div>
    </div>
  </div>
</section>
