<section class="c-topstory-section top-bg">
  <div class="container">
    <div class="c-topstory__slider">
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__img">
        <img src="images/content/top.jpeg" loading="lazy" alt="clanek-1" />
      </div>
    </div>
    <div class="row c-topstory-section__row">
      <div class="col-xl-5 col-lg-4">
        <div class="c-topstory-section__box">
          <p>
            Vítejte na oficiálních stránkách České federace Okinawa Karate a
            Kobudo pod vedením senseie Jana Kopeckého (6. dan Okinawa Shorin-ryu
            Karate a 5.dan Okinawa Kobudo), reprezentujícího u nás tradiční
            bojová umění z Okinawy: Karate a Kobudo.
          </p>
          <p>
            Patříme do světové organizace World Oshu-Kai Okinawa Shorin-Ryu
            Karate Do Kobudo Federation, v jejímž čele stojí okinawský velmistr
            Kenyu Chinen - 10 dan, který je vynikajícím světovým odborníkem a
            autoritou tradičního karate a kobudo.
          </p>
          <p>
            Jsme jediná organizace v České republice, kde můžete současně cvičit
            originální Shorin-Ryu Karate a Kobudo na nejvyšší úrovni, předávané
            přímo mistry z Okinawy.
          </p>
        </div>
      </div>
      <div class="col-xl-7 col-lg-8">
        <div class="c-topstory-section__photo">
          <img src="images/content/foto.png" loading="lazy" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
